body {
  font-family: sans-serif;
  background: #f3f4f6;
  padding: 2rem;
}

table {
  background: white;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ccc;
  padding: 0.5rem;
}

th {
  background: #f0f0f0;
}